//COLORS
$main-color: #2c3e50;
$secondary-color: #000000;
$text-color : white;
$details-color: #00bc77;
$background-color: #12002b;
$background-color2: rgb(78, 77, 77);


//FONT-SIZE
$title: 1.5em;
$text1: 1.2em;
$text2: 1em;

$r-text2: 0.875em;


h1, h2, h3, h4, p, img {
    margin: 0;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    color: $main-color;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid grey;
    border-radius: 3px;
}
