.banner {
    height: 400px;
    background: url(../../../public/images/bank-tree.webp) center/cover;
    background-position: 0% 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

@media (max-width: 920px) {
    .banner {
        height: 300px;
    }
}