.banner {
    height: 400px;
    position: relative;
    background: url(../../../public/images/bank-tree.webp) center/cover;
    background-position: 0% 33%;
} 

@media (max-width: 920px) {
    .banner {
        height: 300px;
    }
}