.main-nav {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    a {
        text-decoration: none;
        &:visited {
            color: $main-color;
        }
    }
}

.main-nav__items {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: $text2;
}

.logo {
    width: 200px;
    height: 100%;
}

.icon {
    height: 1em;
    fill: #2c3e50;
}

.user-icon {
    display: flex;
}

@media (min-width: 320px) and (max-width: 401.99px) {
    .main-nav__items {
        font-size: $r-text2;
    }
    .logo {
        width: 130px;
    }
}



