.button {
    background-color: $details-color;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 50px;
    background-color: $details-color;
    width: fit-content;
} 

.signin-form button {
    margin: 0;
    width: 100%;
    display: block;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
}







